@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, #a875f0 0px, transparent 20%),
    radial-gradient(at 97% 21%, #ee81ee 0px, transparent 50%),
    radial-gradient(at 52% 99%, #b34be7 0px, transparent 50%),
    radial-gradient(at 20% 29%, hsla(240, 85%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(260, 65%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(285, 70%, 80%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(255, 70%, 85%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 20px;
  opacity: 0.25;
}

/* Tailwind Styles */

@layer utilities {
  .purple-gradient {
    @apply bg-gradient-to-r from-[#b34be7] via-[#ee81ee] to-[#a875f0] bg-clip-text text-transparent;
  }
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.flex-center {
  @apply flex justify-center items-center;
}

.head-text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
}

.sub-text {
  @apply text-3xl font-bold leading-[1.15] text-white sm:text-4xl;
}

.logo-text {
  @apply font-satoshi font-semibold text-lg text-white tracking-wide;
}

.desc {
  @apply mt-5 text-lg text-gray-400 sm:text-xl max-w-2xl;
}

.purple-gradient {
  @apply bg-gradient-to-r from-[#b34be7] via-[#ee81ee] to-[#a875f0] bg-clip-text text-transparent;
}

.purple-gradient-btn {
  @apply bg-gradient-to-r from-[#b34be7] to-[#ee81ee];
}

.black-btn {
  @apply rounded-full border-none purple-gradient-btn py-1.5 px-5 text-white hover:scale-105 transition-all text-sm font-semibold font-inter flex justify-center items-center;
}

.outline-btn {
  @apply rounded-full border-none bg-white py-1.5 px-5 text-black transition-all hover:scale-105 font-medium font-inter flex justify-center items-center text-sm;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown-link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium border border-b-slate-300;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[180px] mt-2 p-3 text-sm text-gray-700 outline-0 font-mono;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-700 outline-0 font-inter placeholder:font-mono;
}

.feed {
  @apply mt-10 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

.search_input {
  @apply block w-full rounded-full border border-gray-200 bg-white py-2.5 font-mono placeholder:font-inter pl-5 pr-12 text-sm shadow-lg font-semibold focus:border-purple-900 focus:outline-none focus:ring-2;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border-none bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}
